.project
.idea/*
.loadpath
config/auth.yml
config/database.yml
config/oca_mailer.yml
config/settings.yml
config/oca_mailer.yml
config/locales/particular/*.yml
*.log
pallets/*/*
pallet_container/*/*
.DS_Store
\#*.*
.#*
*~
.tmp*
*.swp
public/javascripts/cached_javascripts.js
public/stylesheets/cached_stylesheets.css
public/javascripts/messages.js
